.main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin: 200px auto;
    justify-content: center;
    gap: 10px;
}
.box{
    border: 2px solid;
    width: 100px;
    height: 100px;
    background: url('https://p.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/1660570665/web/images/t3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}