* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #3d5f00;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 70px;
}

.lists .list {
    display: inline-block;
    margin: 0 5px;
}

.list a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
}

.icon i {
    font-size: 24px;
    color: white;
}

.main-content {
    background-image: url(/images/Image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.data {
    letter-spacing: 0px;
    color: #3d5f00;
    font-family: "Alegreya Sans";
    padding: 70px 0;
}

.data .h1-header {
    font-size: 67px;
    text-transform: uppercase;
    font-weight: 800;

}

.data hr {
    width: 300px;
    margin: 10px 0;
}

.data .h3-header {
    font-size: 54px;
    font-weight: 500;
}

.data .p-header {
    width: 40%;
    font-size: 21px;
    font-weight: 400;
    font-family: "Roboto";
    margin: 20px 0;
}

.data .btn-header {
    background-color: #3d5f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0;
}

.data .btn-icon {
    background-color: #3d5f00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px 0 10px 0;
    margin-left: 10px;
}

/* About us start */

#About{
    padding: 30px 0;
}

.aboutus {
    font-family: "Roboto";
    text-align: center;
    color: #3d5f00;
    margin: 30px auto;
}

.aboutus .h2-about {
    font-size: 50px;
    color: #3d5f00;
    font-weight: 700;
}

.aboutus .p-about {
    width: 50%;
    font-size: 25px;
    font-weight: 400;
    margin: 20px auto;
}

.about-main .row {
    display: flex;
}

.about-main .row .col {
    
    width: 50%;
}

.about-content {
    color: #3d5f00;
    font-family: "Roboto";
}

.about-content .h3-about {
    font-size: 54px;
    font-weight: 500;
}

.about-content .para {
    font-size: 25px;
    font-weight: 400;
    width: 80%;
    margin: 20px 0;
}

.about-content .para1 {
    font-size: 25px;
    width: 80%;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-content .btn-header {
    background-color: #3d5f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px 0 20px 0;
}

.about-content .btn-icon {
    background-color: #3d5f00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px 0 10px 0;
    margin-left: 10px;
}

.about-main .abouts{
    background: linear-gradient(rgba(143,146,59,0.5),rgba(143,146,59,0.5)),url("/images/about.png");
    position: relative;
    margin: 0 auto;
    width: 70%;
    z-index: 1;
    height: 400px;
}

.abouts .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: red;
    z-index: 2;
}

/* About us end */