* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
.header {
    background-color: #303030;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 70px;
}

.lists .list {
    display: inline-block;
    margin: 0 5px;
}

.list .nav-a {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}

.icon .search {
    font-size: 25px;
    color: #ffffff;

}

.icon .menu {
    font-size: 25px;
    color: #ffffff;
    display: none;
}

.main-content {
    background: url("/images/main.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.data {
    padding: 150px 50px;
}

.data .h1-header {
    font-size: clamp(40px, 7vw, 125px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}

.data .p-header {
    font-size: clamp(18px, 3.2vw, 30px);
    color: #ffffff;
    font-weight: 400;
    width: 50%;
    font-family: "Montserrat";
    margin: 20px 0;
}

.data .btn-header {
    font-size: clamp(18px, 3.2vw, 29px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    border-radius: 4px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    background-color: #e8631c;
}

/* header end */

/* dance tour start */
#tour {
    background-color: #e8631c;
}

.tour {
    padding: 40px;
    text-align: center;
    color: #ffffff;
}

.tour .h1-tour {
    font-size: clamp(24px, 7vw, 75px);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Oswald";

}

.tour .p-tour {
    font-size: clamp(18px, 3.2vw, 30px);
    font-weight: 400;
    font-family: "Montserrat";
}

section .row {
    display: flex;
}

section .row .col {
    width: 33.33%;
    margin: 30px;
    /* border: 2px solid; */
}

.img {
    width: 100%;
    height: 100%;
}

.col .tour-content {
    background-color: #303030;
    padding: 20px;
}

.tour-content .h1-tour-content {
    font-size: clamp(15px, 3.2vw, 37px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
}

.tour-content .p-tour-content {
    font-size: clamp(12px, 2.2vw, 22px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

/* dance tour end */

/* price start */

#price {
    background-color: #303030;
}

section .row {
    display: flex;
}

section .row .col {
    width: 33.33%;
    margin: 30px;
    /* border: 2px solid; */
}


.col .card-price {
    background-color: #e8631c;
    padding: 40px;
    text-align: center;
}

.card-price .p-icon {
    font-size: clamp(24px, 7vw, 90px);
    text-align: center;
    color: white;
}

.card-price .h1-card-price {
    font-size: clamp(15px, 3.2vw, 37px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
    text-align: center;
}

.card-price .p-card-price {
    font-size: clamp(12px, 2.2vw, 22px);
    color: #ffffff;
    margin-top: 20px;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.card-price .btn-price {
    font-size: 25px;
    color: #ffffff;
    margin-top: 20px;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    padding: 5px 80px;
    border: none;
    text-align: center;
    border-radius: 4px;
    background-color: #303030;
}

.price {
    padding: 40px;
    text-align: center;
    color: #ffffff;
}

.price .h1-price {
    font-size: clamp(24px, 7vw, 75px);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Oswald";

}

.price .p-price {
    font-size: clamp(18px, 3.2vw, 30px);
    font-weight: 400;
    font-family: "Montserrat";
}

/* price end */

/* Dance start */

#dance .row1 {
    display: flex;
}

#dance .row1 .col1 {
    width: 50%;
    /* border: 2px solid; */
}

#dance .row1 .col2 {
    width: 50%;
    /* border: 2px solid; */
    background-color: #e8631c;
    text-align: center;
}

.col2 .h1-dance {
    font-size: clamp(24px, 7vw, 75px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    margin-top: 40%;
}

.col2 .p-dance {
    font-size: clamp(18px, 3.2vw, 30px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    margin-top: 25px;
}

.col2 .btn-dance {
    font-size: clamp(15px, 2.2vw, 25px);
    color: #ffffff;
    margin-top: 40px;
    font-weight: 400;
    font-family: "Oswald";
    text-align: center;
    padding: 5px 80px;
    border: none;
    text-align: center;
    border-radius: 4px;
    background-color: #303030;
}

/* Dance end */

/* stats start */

#stats {
    background-color: #303030;
}

.stats {
    padding: 70px 0;
}

.stats .h1-stats {
    font-size: clamp(24px, 7vw, 75px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

.stats .p-stats {
    font-size: clamp(18px, 3.2vw, 30px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#stats .row2 {
    display: flex;
    padding: 100px 0;
}

#stats .row2 .col {
    width: 33.33%;
}

.col .h1-col-stats {
    font-size: clamp(24px, 7vw, 67px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

.col .p-col-stats {
    font-size: clamp(24px, 3.2vw, 42px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}


/* stats end */

/* info start */

#info {
    padding: 290px 100px;
    text-align: center;
    background: url("/images/info.png");
    background-size: 100% 100%;
}

.info .p-info {
    font-size: clamp(22px, 3.2vw, 50px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Nunito";
    text-align: center;
}

.info .h1-info {
    font-size: clamp(24px, 7vw, 58px);
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
    text-align: center;
}

/* info end */

/* sub start */

#sub {
    background-color: #e8631c;
    padding: 150px;
}

.sub .h1-sub {
    text-align: center;
    font-size: clamp(24px, 7vw, 75px);
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
}

.sub .p-sub {
    font-size: clamp(18px, 3.2vw, 30px);
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.sub .input-box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input-box .input-sub {
    width: 400px;
    padding: 12px;
    border-radius: 2px;
    border: none;
    font-family: "Montserrat";
    outline: none;
    font-size: 16px;
}

.input-box .btn-sub {
    font-size: clamp(14px, 3.2vw, 25px);
    background-color: #303030;
    border: none;
    padding: 0 25px;
    border-radius: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    font-family: "Oswald";
    text-align: center;
}


/* sub end */

/* footer start */

#Footer {
    padding: 50px 0;
    background-color: #303030;
}

#Footer .row {
    display: flex;
}

#Footer .row .col-4 {
    width: 40%;
    margin-left: 20px;
}

#Footer .row .col-6 {
    width: 60%;
}

.col-6 .row .col {
    width: 33.33%;
}

.footer .h2-footer {
    font-size: clamp(18px, 3vw, 31px);
    color: #ffffff;
    font-weight: 700;
    font-family: "Oswald";
}

.footer .ul-footer {
    list-style: none;
    margin-top: 20px;
}

.ul-footer .li-footer {
    margin: 10px 0;
}

.ul-footer .li-footer .a-footer {
    text-decoration: none;
    color: white;
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 400;
    font-family: "Montserrat";
}

.footer .p-footer {

    font-size: clamp(18px, 3vw, 24px);
    color: #ffffff;
    width: 80%;
    margin: 20px 0;
    font-weight: 400;
    font-family: "Montserrat";
}

.footer-icon i {
    font-size: clamp(18px, 3vw, 24px);
    color: white;
    margin: 0 5px;
}


/* footer end */